.container {
    width: 220px;
    height: 200px;
    margin: 20px 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.input2 {
    margin-top: 20px;
}
.button {
    background-color: lightskyblue;
    border: none;
    height: 30px;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
}
.image-container {
    display: flex;
    width: 1000px;
    height: 600px;
    margin: 20px 20px;
    justify-content: space-between;
    /* border: 1px solid red; */
}